* {
  font-family: JetBrainsMono, sans-serif;
  font-size: 13px;
}

window#waybar {
  background: #1e1e2e;
  color: #003cff;
}

#workspaces button {
  padding: 0 8px;
  color: #003cff;
}

#workspaces button.active {
  background: #0062ff;
  color: #0000ff;
}
