* {
  font-family: JetBrainsMono, sans-serif;
  font-size: 13px;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button {
  padding: 0 8px;
  color: #cdd6f4;
}

#workspaces button.active {
  background: #89b4fa;
  color: #1e1e2e;
}
